web/bundles/
app/bootstrap.php.cache
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
build/
vendor
composer.phar
phpcpd.phar
app/config/parameters.yml
# IDE meta
/nbproject
/.idea

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
#/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.env*local