web/bundles/
app/bootstrap.php.cache
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
build/
vendor
composer.phar
phpcpd.phar
app/config/parameters.yml
# IDE meta
/nbproject
/.idea
/src/SimplyTestable/ApiBundle/Resources/config/parameters.yml
