parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: myapp_test
    database_user: root
    database_password: null
    mailer_auth_mode: login
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: SetThis!
    admin_user_email: SetThis!@example.com
    admin_user_password: setThis!
    default_trial_period: 30
    postmark_api_key: null
    postmark_from_email: null
    postmark_from_name: null
    postmark_use_ssl: true
    postmark_timeout: 60   