parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: myapp_test
    database_user: root
    database_password: null
    locale: en
    secret: SetThis!
    admin_user_email: SetThis!@example.com
    admin_user_password: setThis!
    default_trial_period: 30
    postmark_api_key: "postmark api key"
    container.autowiring.strict_mode: true
