parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: set-to-match-database-to-which-below-user-has-access
    database_user: database-user
    database_password: database-password
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: SetThis!